/* ------------------------------------------------------------------------------
*
*  # Pick-a-date - Picker base
*
*  The mobile-friendly, responsive, and lightweight jQuery date & time input picker
*
* ---------------------------------------------------------------------------- */
.picker {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  z-index: 1070;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.picker__input {
  cursor: default; }

.picker__holder {
  width: 100%;
  overflow-y: auto;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-width: 0;
  border-bottom-width: 0;
  min-width: 18rem;
  max-width: 25rem;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  border-bottom-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
  .picker--opened .picker__holder {
    max-height: 480px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    display: block; }

/* ------------------------------------------------------------------------------
*
*  # Pick-a-date - Date picker
*
*  The mobile-friendly, responsive, and lightweight jQuery date & time input picker
*
* ---------------------------------------------------------------------------- */
.picker__box {
  padding: 0.9375rem; }

.picker__header {
  text-align: center;
  position: relative;
  font-size: 0.9375rem;
  line-height: 1;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }

.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem; }

.picker__year {
  color: #999;
  font-size: 0.75rem;
  font-weight: normal; }

.picker__select--month,
.picker__select--year {
  border: 1px solid #ddd;
  padding: 0.4375rem 0.875rem;
  font-size: 0.8125rem;
  line-height: 1.5385;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  outline: 0;
  white-space: nowrap; }

.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  padding: 0.5rem;
  top: 50%;
  margin-top: -1rem;
  line-height: 1;
  border-radius: 0.1875rem;
  transition: all ease-in-out 0.15s; }
  @media screen and (prefers-reduced-motion: reduce) {
    .picker__nav--prev,
    .picker__nav--next {
      transition: none; } }
  .picker__nav--prev:before,
  .picker__nav--next:before {
    font-family: "icomoon";
    display: block;
    font-size: 1rem;
    width: 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .picker__nav--prev:hover,
  .picker__nav--next:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5; }

.picker__nav--prev {
  left: 0; }
  .picker__nav--prev:before {
    content: '\e9c8'; }

.picker__nav--next {
  right: 0; }
  .picker__nav--next:before {
    content: '\e9cb'; }

.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover {
  cursor: default;
  background-color: transparent; }

.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-bottom: 0.9375rem; }
  .picker__table td {
    margin: 0;
    padding: 0; }

.picker__weekday {
  width: 14.285714286%;
  text-align: center;
  padding-bottom: 0.46875rem;
  padding-top: 0.9375rem;
  color: #999;
  font-weight: 400; }

.picker__day {
  padding: 0.4375rem;
  min-width: 2.12503rem;
  border-radius: 0.1875rem; }

.picker__day--today {
  position: relative;
  background-color: #f5f5f5; }
  .picker__day--today:before {
    content: "";
    position: absolute;
    top: 0.125rem;
    right: 0.125rem;
    width: 0;
    height: 0;
    border-top: 0.375rem solid #26A69A;
    border-left: 0.375rem solid transparent; }

.picker__day--outfocus {
  color: #ccc; }

.picker__day--infocus,
.picker__day--outfocus {
  transition: all ease-in-out 0.15s; }
  @media screen and (prefers-reduced-motion: reduce) {
    .picker__day--infocus,
    .picker__day--outfocus {
      transition: none; } }
  .picker__day--infocus:hover,
  .picker__day--outfocus:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5; }

.picker__day--highlighted:before {
  border-top-color: #fff; }

.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  cursor: pointer;
  color: #fff;
  background-color: #26A69A; }

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #26A69A;
  color: #fff; }

.picker__day--disabled, .picker__day--disabled:hover {
  background-color: transparent;
  color: #999;
  cursor: default; }

.picker__day--disabled:before {
  border-top-color: #999; }

.picker__day--highlighted .picker__day--disabled, .picker__day--highlighted .picker__day--disabled:hover {
  background-color: transparent; }

.picker__footer {
  text-align: center; }
  .picker__footer button {
    border: 0;
    padding: 0.4375rem 0.875rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.1875rem;
    transition: all ease-in-out 0.15s; }
    @media screen and (prefers-reduced-motion: reduce) {
      .picker__footer button {
        transition: none; } }
    .picker__footer button:hover, .picker__footer button:focus {
      outline: 0;
      color: #333;
      background-color: #f5f5f5; }
    .picker__footer button:before {
      height: 0; }
    .picker__footer button:disabled, .picker__footer button:disabled:hover, .picker__footer button:disabled:focus {
      background-color: transparent;
      color: #999;
      cursor: default; }

.picker__button--today:before {
  content: '';
  margin-right: 0.625rem;
  position: relative;
  display: inline-block;
  top: -0.0625rem;
  width: 0;
  border-top: 0.375rem solid #2196F3;
  border-left: 0.375rem solid transparent; }

.picker__button--close:before {
  content: '\D7';
  display: inline-block;
  position: relative;
  margin-right: 0.625rem;
  top: 0.0625rem;
  line-height: 1;
  font-size: 1rem; }

.picker__button--clear:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -0.1875rem;
  width: 0.5rem;
  margin-right: 0.625rem;
  border-top: 0.125rem solid #F44336; }

/* ------------------------------------------------------------------------------
*
*  # Pick-a-date - Time picker
*
*  The mobile-friendly, responsive, and lightweight jQuery date & time input picker
*
* ---------------------------------------------------------------------------- */
.picker--time {
  min-width: 16rem;
  max-width: 20rem; }

.picker--time .picker__box {
  padding: 0; }

.picker__list {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto; }

.picker__list-item {
  position: relative;
  padding: 0.5rem 1rem;
  transition: all ease-in-out 0.15s; }
  @media screen and (prefers-reduced-motion: reduce) {
    .picker__list-item {
      transition: none; } }
  .picker__list-item:hover, .picker__list-item:focus {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
    z-index: 10; }

.picker--time .picker__button--clear {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.4375rem 0.875rem;
  background-color: #fafafa;
  outline: 0;
  border: 0;
  border-top: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  margin-bottom: -0.5rem;
  margin-top: 0.5rem;
  transition: all ease-in-out 0.15s; }
  @media screen and (prefers-reduced-motion: reduce) {
    .picker--time .picker__button--clear {
      transition: none; } }
  .picker--time .picker__button--clear:hover, .picker--time .picker__button--clear:focus {
    background-color: #f5f5f5; }

.picker__list-item--highlighted {
  z-index: 10; }

.picker__list-item--highlighted,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  cursor: pointer;
  color: #333;
  background-color: #f5f5f5; }

.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
  color: #fff;
  background-color: #2196F3;
  z-index: 10; }

.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  color: #999;
  background-color: transparent;
  cursor: default;
  z-index: auto; }

/* ------------------------------------------------------------------------------
*
*  # Anytime picker
*
*  jQuery datepicker/timepicker and a Date/String parse/format utility
*
* ---------------------------------------------------------------------------- */
.AnyTime-pkr {
  text-align: center; }
  .AnyTime-pkr * {
    margin: 0;
    padding: 0;
    list-style: none; }
  .AnyTime-pkr .AnyTime-date {
    float: left; }
    .AnyTime-pkr .AnyTime-date + .AnyTime-time {
      margin-left: 3.125rem;
      float: left; }

.AnyTime-win {
  padding: 0.9375rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  z-index: 1070;
  border-radius: 0.1875rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }

.AnyTime-cloak {
  position: absolute;
  opacity: 0.7; }

.AnyTime-hdr {
  font-size: 0.9375rem;
  margin: 0.9375rem;
  line-height: 1; }

.AnyTime-x-btn {
  display: none;
  font-size: 0;
  cursor: pointer;
  float: right;
  opacity: 0.6;
  border-radius: 0.1875rem; }
  .AnyTime-x-btn:hover {
    opacity: 1; }
  .AnyTime-x-btn:after {
    content: '\ed6b';
    font-family: "icomoon";
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.AnyTime-lbl {
  font-size: 0.8125rem;
  margin-bottom: 0.625rem;
  font-weight: 500;
  margin-top: 1.25rem; }
  .AnyTime-lbl:first-child {
    margin-top: 0.5rem; }

.AnyTime-yrs .AnyTime-cur-btn, .AnyTime-yrs .AnyTime-cur-btn:hover {
  background-color: #F44336;
  color: #fff; }

.AnyTime-mons .AnyTime-cur-btn, .AnyTime-mons .AnyTime-cur-btn:hover {
  background-color: #26A69A;
  color: #fff; }

.AnyTime-time .AnyTime-cur-btn, .AnyTime-time .AnyTime-cur-btn:hover {
  background-color: #607D8B;
  color: #fff; }

.AnyTime-dom-table .AnyTime-cur-btn, .AnyTime-dom-table .AnyTime-cur-btn:hover,
.AnyTime-body-yr-selector .AnyTime-cur-btn,
.AnyTime-body-yr-selector .AnyTime-cur-btn:hover {
  background-color: #26A69A;
  color: #fff; }

.AnyTime-yrs-past-btn,
.AnyTime-yrs-ahead-btn {
  display: inline-block; }

.AnyTime-yr-prior-btn,
.AnyTime-yr-cur-btn,
.AnyTime-yr-next-btn {
  display: inline-block;
  min-width: 3rem; }

.AnyTime-mons::after {
  display: block;
  clear: both;
  content: ""; }

.AnyTime-dom-table {
  width: 100%; }

.AnyTime-pkr th.AnyTime-dow {
  color: #999;
  padding: 0.4375rem;
  font-weight: 400; }

.AnyTime-mon-btn {
  float: left;
  width: 16.66667%; }

.AnyTime-mon7-btn {
  clear: left; }

.AnyTime-time,
.AnyTime-hrs-am,
.AnyTime-hrs-pm,
.AnyTime-mins-tens,
.AnyTime-mins-ones,
.AnyTime-secs-tens,
.AnyTime-secs-ones,
.AnyTime-hrs,
.AnyTime-mins,
.AnyTime-secs,
.AnyTime-offs {
  display: inline-block; }

.AnyTime-btn {
  padding: 0.4375rem;
  cursor: pointer;
  border-radius: 0.1875rem;
  transition: all ease-in-out 0.15s; }
  @media screen and (prefers-reduced-motion: reduce) {
    .AnyTime-btn {
      transition: none; } }
  .AnyTime-btn:hover {
    color: #333;
    background-color: #f5f5f5; }
  .AnyTime-btn.ui-state-disabled {
    cursor: default;
    color: #999;
    background-color: transparent; }

.AnyTime-hr-btn,
.AnyTime-min-ten-btn,
.AnyTime-min-one-btn,
.AnyTime-sec-ten-btn,
.AnyTime-sec-one-btn {
  min-width: 2.5rem; }

.AnyTime-hrs-pm,
.AnyTime-mins-ones,
.AnyTime-secs-ones {
  margin-left: 0.125rem; }

.AnyTime-mins-tens,
.AnyTime-secs-tens {
  margin-left: 1.25rem; }

.AnyTime-off-cur-btn {
  display: inline-block;
  overflow: hidden; }

.AnyTime-off-select-btn {
  display: inline-block;
  vertical-align: top; }

.AnyTime-off-selector {
  margin: 0.625rem;
  position: absolute; }

.AnyTime-body-off-selector {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap; }

.AnyTime-off-off-btn {
  text-align: left; }

.AnyTime-yr-selector {
  position: absolute;
  width: 90%; }

.AnyTime-body-yr-selector {
  margin: 0; }

.AnyTime-yr-mil,
.AnyTime-yr-cent,
.AnyTime-yr-dec,
.AnyTime-yr-yr,
.AnyTime-yr-era {
  display: inline-block;
  vertical-align: top;
  width: 20%; }

@media (max-width: 575.98px) {
  .AnyTime-pkr .AnyTime-date {
    float: none; }
  .AnyTime-mon-btn {
    float: none;
    display: inline-block; }
  .AnyTime-date + .AnyTime-time {
    margin-left: 0;
    margin-top: 1.25rem;
    float: none; } }